.loader-comman {
	left: 0;
	top: 0;
	position: absolute;
}

.inner-comman {
	margin: auto;
	overflow: auto;
	right: 0;
	bottom: 0;
}

.loader {
	height: 100%;
	width: 100%;
	z-index: 9999;
}

.inner-loader {
	border-radius: 19px;
	height: 18%;
	width: 24%;
	transform: translateX(-42px);
	-webkit-transform: translateX(-42px);
}

.loader-overlay{
	z-index: 999;
}

.show-panel {
	display: block;
}

.hide-panel {
	display: none !important;
}

.dropdown li{
	cursor: pointer;
}

.active-view {
  border-color: #0b6bb5 !important;
  box-shadow: -2px 3px 8px 0px #dedede !important;
}
.active-view figcaption {
  background: #0b6bb5 !important;
  color: #ffffff !important;
}
.effect-panel {
    max-width: 370px !important;
}
.panel-wrapper {
    
    width: 100% !important;
}


.active-effect{
	 padding: 10px !important;
	 box-shadow: 0 1px 2px 1px #d8d8d8;
	 background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 20%, #d8d8d8 77%, #d1d1d1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
     border:1px solid #0b6bb5 !important;
     
     
}
.active-effect h5 {
    color: #0866b1 !important;
}

#effectDrag{
	left : 650px;
	top:5%;
}
.img-section > img {
    max-height:50px;
    max-width: 50px;
}

.footer-toolbar .rotate input#rotationVal {
	left: 24px;
    margin: -10px auto 0;
    position: absolute;
    top: 50%;
    width: 35px;
    color: #fff;
}
.disable{
	opacity: 0.5;
    pointer-events: none;
}
.apply-effect {
    cursor: pointer;
}

.add-text {
    padding: 0 15px 15px;
}
.select-view .hide{
	display: none !important;
}
.model-container .model-tab#preview_panel{
	padding:0;
}

element.style {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
/*.initLoader {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040000000;
}
.initLoader div {
    background: none repeat scroll 0 0 #ffffff;
    height: 205px;
    left: 37%;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 400px;
}
.initLoader img.loadText {
    font-size: 18px;
    font-weight: bold;
    margin-left: -68px;
    margin-top: 167px;
    position: absolute;
}
.initLoader img.loadImg {
    bottom: 55px;
    left: 33%;
    position: absolute;
}*/
.model-tab{
	padding: 0 !important;
}
.inneroverlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.inneroverlay .load-content {
    background: none repeat scroll 0 0 white;
    border-radius: 10px;
    margin: -100px auto auto;
    padding:0 0 20px;
    position: relative;
    top: 45%;
    width:200px;
}
.loaderImage {
    background: url("../images/Spinning-line.gif") no-repeat scroll center center white;
    border-radius: 50%;
    height: 80px;
    margin: auto auto 0;
    width: 80px;
}
.inneroverlay .load-content span {
    display: none;
    font-size: 1.5em;
    padding: 10px 0 0;
}
.ui-draggable-handle {
    cursor: all-scroll;
}
.product-cancel{
	top: 16px;
	display:none;
}

.custom-select .dropdown li{
	  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-tool{
	 height:23px;
}
