a:hover, a:focus {
	color: #4d87ff;
	text-decoration: none;
}
.btn:hover, input.btn:hover, button.btn:hover,input.btn:focus, button.btn:focus,.btn:focus{
	color: #959595;
	transition :0.2s;
}
.btn:hover, input.btn:hover, button.btn:hover
{box-shadow:none;
}
.btn:hover, .btn:focus {
	color: #ffffff;
	border: 1px solid #0c61a2;
	background: #107dd1;
	box-shadow: 0px 4px 0px 0px #107dd1;
	transition: all 0.5s;
}

.icon-gardient:hover {
	background: #107dd1;
	transition: all 0.3s;
}
.browse-tab:hover {
	background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 20%, #d8d8d8 77%, #d1d1d1 100%);
	background: -webkit-linear-gradient(to bottom, #fafafa 0%, #f2f2f2 20%, #d8d8d8 77%, #d1d1d1 100%);
	border: 2px solid #0b6bb5;
	color: #0866b1;
	padding: 16px;
}
.new-btn:hover {
	color: #ffffff;
	background: #0866b1;
}
.model-wrapper li figure:hover {
	border-color: #0b6bb5;
	transition: all ease 1s;
}
.model-wrapper li figure:hover figcaption {
	background-color: #0b6bb5;
	cursor: pointer;
	color: #fff;
	transition: background 1s;
}
.slider a:hover {
	color: #107dd1;
}
.slider .slider-btn.prev:hover {
	border-color: transparent #107dd1 transparent #107dd1;
}
.slider .slider-btn.next:hover {
	border-color: transparent #107dd1 transparent #107dd1;
}
.tool-pallet li a:hover {
	color: #3296e2;
}
.tool-pallet li:hover {
	background: linear-gradient(to bottom, #2b2b2b 0%, #2b2b2b 70%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(70%, #2b2b2b), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
}

.tool-pallet li:hover:after {
	opacity: 1;
	fliter: alpha(opacity=100);
	transition: 0.5s;
}

.model-container .check-on-product .btn.buy:hover {
	color: #ffffff;
}
.social-share li a:hover {
	background: #107dd1;
	transition: all 0.3s;
}
.footer-toolbar .layer .layer-order:hover path, .footer-toolbar .layer .layer-order:hover polygon {
	fill: #107dd1;
}
.undo-redo .undo path:hover, .undo-redo .redo path:hover {
	fill: #107dd1;
}
.browse-options li:hover {
	background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 20%, #d8d8d8 77%, #d1d1d1 100%);
	background: -webkit-linear-gradient(to bottom, #fafafa 0%, #f2f2f2 20%, #d8d8d8 77%, #d1d1d1 100%);
	border:1px solid #0b6bb5;
	color: #0866b1;
}
.browse-options li:hover {
	box-shadow: 0px 1px 2px 1px #d8d8d8;
}
.browse-options li:hover .svg path {
	fill: #0464b0;
}
.image-library li:hover img {
	border: 2px solid #0464b0;
	padding: 0;
	border-radius: 5px;
	box-shadow: -3px 5px 5px -1px #d1d1d1;
}
.image-library li:hover .caption {
	color: #0464b0;
}
.effect-tab-wrapper li:hover .caption {
	color: #757575;
}
.effect-tab-wrapper li:hover h5 {
	color: #0866b1;
}
.effect-tab-wrapper li:hover .hue-icon, .effect-tab-wrapper li:hover .sepia-icon {
	border: 2px solid #0866b1;
}
.effect-tab-wrapper li:hover .meter {
	background: #0866b1;
}
.effect-tab-wrapper li:hover .meter-bar svg path.bar-bg {
	fill: #dedede;
}
.select-device-view figure:hover {
	border-color: #0b6bb5;
	box-shadow: -2px 3px 8px 0px #dedede;
}
.select-device-view figure:hover figcaption {
	background: #0b6bb5;
	color: #ffffff;
}

.uploaded-images li:hover .delete-btn {
	transform:scale(1);
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transition: 0.3s;
	-webkit-transition: 0.3s;
}
.bx-controls-direction a:hover,.flex-prev:hover,.flex-next:hover {
	border-color: transparent #0866b1;
}

.buy-now .new-btn:hover {
	color: #ffffff;
}
.buy-now .new-btn:hover .buy-arrow {
	background: #ffffff;
	border: 1px solid #0866b1;
}
.buy-now .new-btn:hover .buy-arrow .fa-caret-right {
	color: #0866b1;
}
.device-pallet li:hover figure {
	border-color: #ebebeb;
	box-shadow: 2px 2px 2px 2px #fafafa;
}


.device-pallet li:hover figure .product-wrap {
	opacity: 1;
}
.device-pallet li:hover figure img {
	transform: scale(1.1, 1.1);
	transition: 0.3s;
	-webkit-transform: scale(1.1, 1.1);
	-webkit-transition: 0.3s;
}

.brand li:hover figure {
	box-shadow: none;
}
.brand li:hover figure img {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
}

.model li:hover figure img {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
}

.device-accessories li:hover figure img {
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
}
.tool-pallet li:hover .svg path {
	fill: #107dd1;
}
.effect-tab-wrapper:hover {
	fill: #757575;
}
.add-text #addText.btn:hover, .add-text #updateText.btn:hover{
	color:#fff;
}
.trash > .can:hover {
	border: none !important;
	box-shadow: none !important
}
.trash:focus > .lid, .trash:hover > .lid {
	transform: rotate(45deg);
	transition: transform 250ms;
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform 250ms
} 

#carousel li.flex-active-slide,#carousel li:hover{
	opacity:1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  border: 1px solid #0c61a2;
  background: #107dd1;
  box-shadow: 0px 4px 0px 0px #107dd1;
  transition: all 0.5s;
}
.btn:focus {
  box-shadow: 0px 0px 3px 0px #107dd1;
  transition: all 0.2s;
}