@import "global.css";
@import "font-awesome.min.css";
.base {
  background: url(../images/skin-bg.jpg) repeat;
}
.gradient-black-one {
  background: linear-gradient(to bottom, #4d4d4d 0%, #0d0d0d 100%);
  /* W3C */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(50%, #4d4d4d), color-stop(91%, #0d0d0d), color-stop(100%, #0d0d0d));
  /* Chrome,Safari4+ */
}
.gradient-grey-one {
  background: linear-gradient(to bottom, #333333 0%, #333333 70%, #0d0d0d 100%);
  /* W3C */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(70%, #333333), color-stop(100%, #0d0d0d));
  /* Chrome,Safari4+ */
}
.gradient-grey-hover {
  background: linear-gradient(to bottom, #2b2b2b 0%, #2b2b2b 70%, #0d0d0d 100%);
  /* W3C */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(70%, #2b2b2b), color-stop(100%, #0d0d0d));
  /* Chrome,Safari4+ */
}
.white-effect {
  background: linear-gradient(to right, #4d4d4d 0%, #636363 40%, #636363 80%, #4d4d4d 100%);
  /* W3C 32 to 73 */
  background: -webkit-linear-gradient(to right, #4d4d4d 0%, #636363 40%, #636363 80%, #4d4d4d 100%);
  /* W3C 32 to 73 */
}
.white-effect-new {
  background: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #dedede 32%, #dedede 90%, rgba(255, 255, 255, 0) 100%);
  /* W3C 32 to 73 */
  background: -webkit-linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #dedede 32%, #dedede 90%, rgba(255, 255, 255, 0) 100%);
  /* W3C 32 to 73 */
}
.btn {
  background: #e6e6e6;
  background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 70%, #e6e6e6 100%);
  /* W3C */
  background: -webkit-linear-gradient(to bottom, #fafafa 0%, #f2f2f2 70%, #e6e6e6 100%);
  /* W3C */
}

.icon-gardient {
  background: #bababa;
  background: linear-gradient(to bottom, #bababa 0%, #9c9c9c 100%);
  /* W3C */
  background: -webkit-linear-gradient(to bottom, #bababa 0%, #9c9c9c 100%);
  /* W3C */
}
.icon-gardient:hover {
  background: #107dd1;
  transition: all 0.3s;
}
.browse-tab {
  background: linear-gradient(to bottom, #e6e6e6 0%, #f2f2f2 20%, #ebebeb 100%);
  background: -webkit-linear-gradient(to bottom, #e6e6e6 0%, #f2f2f2 20%, #ebebeb 100%);
  border: 1px solid #d1d1d1;
  padding: 17px;
  color: #757575;
  border-radius: 5px;
}
.browse-tab:hover {
  background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 20%, #d8d8d8 77%, #d1d1d1 100%);
  background: -webkit-linear-gradient(to bottom, #fafafa 0%, #f2f2f2 20%, #d8d8d8 77%, #d1d1d1 100%);
  border: 2px solid #0b6bb5;
  color: #0866b1;
  padding: 16px;
}
.browse-arrow {
  background: linear-gradient(to bottom, #e4e4e4 0%, #f1f1f1 3%, #e5e5e5 13%, #dfdfdf 17%, #dddddd 20%, #d1d1d1 30%, #cacaca 33%, #cacaca 37%, #bebebe 47%, #aeaeae 50%, #adadad 53%, #b7b7b7 67%, #c7c7c7 80%, #cccccc 87%, #d3d3d3 90%, #d5d5d5 93%, #dddddd 97%, #dfdfdf 100%);
  /* W3C */
  background: -webkit-linear-gradient(to bottom, #e4e4e4 0%, #f1f1f1 3%, #e5e5e5 13%, #dfdfdf 17%, #dddddd 20%, #d1d1d1 30%, #cacaca 33%, #cacaca 37%, #bebebe 47%, #aeaeae 50%, #adadad 53%, #b7b7b7 67%, #c7c7c7 80%, #cccccc 87%, #d3d3d3 90%, #d5d5d5 93%, #dddddd 97%, #dfdfdf 100%);
  /* W3C */
  border-radius: 2px;
  border: 1px solid #bababa;
}
.preview-heading {
  background: linear-gradient(to bottom, #e6e6e6 0%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #fafafa));
  /* Chrome,Safari4+ */
}
.layer-effect {
  position: absolute;
  background: url(../images/pattern.png);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.red-gradient {
  background: linear-gradient(to bottom, #fb2b2b 0%, #f22222 23%, #e31716 46%, #d80e0e 69%, #d10909 77%, #d0080a 85%, #d40107 92%, #d7392d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb2b2b), color-stop(23%, #f22222), color-stop(46%, #e31716), color-stop(69%, #d80e0e), color-stop(77%, #d10909), color-stop(85%, #d0080a), color-stop(92%, #d40107), color-stop(100%, #d7392d));
  /* Chrome,Safari4+ */
}
.new-btn {
  background: linear-gradient(to bottom, #4d4d4d 0%, #1c1c1c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(20%, #4d4d4d), color-stop(100%, #0d0d0d));
  /* Chrome,Safari4+ */
  color: #ffffff;
}
.new-btn:hover {
  color: #ffffff;
  background: #0866b1;
}
.delete-btn {
  background: linear-gradient(to bottom, #fb2b2b 0%, #f22222 23%, #e31716 46%, #d80e0e 69%, #d10909 77%, #d0080a 85%, #d40107 92%, #d7392d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb2b2b), color-stop(23%, #f22222), color-stop(46%, #e31716), color-stop(69%, #d80e0e), color-stop(77%, #d10909), color-stop(85%, #d0080a), color-stop(92%, #d40107), color-stop(100%, #d7392d));
  /* Chrome,Safari4+ */
  border:none;
  color: #ffffff;
  height: 18px;
  width: 18px;
  display: inline-block;
  line-height: 1.5;
  font-size:10px;
}
.effect-tab-gradient {
  background: linear-gradient(to bottom, #dedede 0%, #d8d8d8 25%, #bababa 65%, #b5b5b5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(25%, #d8d8d8), color-stop(65%, #bababa), color-stop(100%, #b5b5b5));
  /* Chrome,Safari4+ */
}
.effect-tool-gradient {
  background: linear-gradient(to bottom, #ebebeb 0%, #f2f2f2 15%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(22%, #f2f2f2), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */
}
.use-effect {
  background: linear-gradient(to bottom, #494949 0%, #3d3d3d 31%, #333333 46%, #323232 50%, #212121 78%, #202020 83%, #1e1e1e 84%, #191919 98%, #1a1a1a 100%);
  background: -webkit-linear-gradient(to bottom, #494949 0%, #3d3d3d 31%, #333333 46%, #323232 50%, #212121 78%, #202020 83%, #1e1e1e 84%, #191919 98%, #1a1a1a 100%);
}
@media all and (min-width: 1024px) {
  .device-view.add-text-pallet {
    width: 210px;
  }
}
@media all and (min-width:767px) {
	#footer{
		bottom:0 !important;
	}
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .nav-btn-panel {
    margin-top: 20px;
  }
  .nav-btn-panel .nav-btn {
    bottom: auto;
    display: inline-block;
    margin: 10px 5%;
    top: auto;
  }
  
  .preview-panel {
    padding-top: 45px;
  }
  .nav-btn.buy-now{
  	bottom:0;
  	top:auto;
  }
  .product-wrapper .display-banner,
  .product-wrapper .check-on-product {
    float: none;
    width: auto;
  }
  .product-wrapper .check-on-product {
    text-align: center;
    margin-top: 20px;
  }
  .product-wrapper .check-on-product .blank-div {
    display: none;
  }
  .product-wrapper .check-on-product .btn {
    display: inline-block;
    margin: 15px 2.5%;
  }
  .model-tab .device-pallet .heading h3 {
    background: none;
  }
}
@media all and (max-width: 959px) {
  .popup-wrap {
    margin: 10px;
  }
  .btn {
    padding: 2px 14px;
  }
  #header {
    text-align: center;
  }
  #header .i-image {
    float: right;
    width: auto;
  }
  #header .i-image img {
    margin: 0 10px;
  }
  .choose-devices li,
  .devices li {
    width: 20%;
    font-size: 13px;
  }
  .display-banner .front {
    display: none;
  }
  .footer-toolbar .tool-wrap {
    padding: 10px 6% 0;
  }
  .footer-toolbar .share .social-share li {
    height: 24px;
    margin: 0 3px;
    width: 25px;
    border:none;
    display:table;
  }
  .footer-toolbar .share .social-share li a {
    font-size: 14px;
    display:table-cell;
    vertical-align:middle;
  }
  .tool-pallet {
    min-width: 92px;
  }
  .model-container {
    left: 12%;
    width: 88%;
  }
  .model-container .model-tab {
    padding: 0 15px;
  }
  .model-tab .heading {
    padding: 20px 0;
  }
  .model-tab .heading h3 {
    background: none;
    padding: 0;
    font-size: 30px;
  }
  .model-tab .heading .btn {
    max-width: 80px;
    margin-left: 10px;
    padding: 2px 14px;
  }
  .browse-options li {
    padding: 15px;
  }
  .browse-options li h4 {
    font-size: 24px;
  }
  .browse-options li:hover {
    padding: 14px;
  }
  .image-preview.model-popup {
    max-width: 579px;
  }
  .select-device-view .img-section img {
    height:auto;
    width: 29px;
    margin:0 auto;
  }
  .apply-effect h5 {
    margin-bottom: 15px;
    font-size: 15px;
    margin-left: 20px;
  }
  .device-view {
    width: 26%;
  }
  .model-tab .device-pallet .heading {
    padding-top: 22px;
  }
  .device-pallet li .product-wrap {
    width: 160px;
  }
  .device-pallet li .product-wrap img {
    width: 100%;
  }
  .model-tab .device-accessories .heading {
    margin-bottom: 30px;
  }
  .device-accessories li {
    margin-top: 10px;
  }
  .device-accessories li .btn {
    padding: 2px 14px;
  }
  .device-accessories li:hover figure img {
    transform: none;
     -webkit-transform: none;
      -o-transform: none;
  }
  .brand li figure {
    padding: 2px 7px;
  }
  .device-pallet.brand li .product-wrap {
    width: 122px;
    height: 146px;
  }
  .device-pallet.brand.model li figure {
    padding: 0 15px;
  }
  .device-pallet.brand.model li .product-wrap {
    width: auto;
    height: auto;
    max-width: 130px;
  }
  .effect-tab-wrapper .effect-icon {
    height: 32px;
    width: 32px;
    margin-right: 30px;
  }
  .effect-tab-wrapper li {
    font-size: 13px;
    padding: 10px 5px;
  }
  .effect-tab-wrapper li:hover {
    padding: 9px 4px;
  }
  .effect-tab-wrapper li h5 {
    font-size: 16px;
  }
  .effect-tab-wrapper li h5 .effect-svg {
    margin: 0 15px 0 0;
  }
  .preview-section span {
    display: inline-block;
    width: 49%;
    position: relative;
  }
  .preview-section .preview-front {
    top:8px;
    width:48%;
  }
  .preview-section .preview-back {
    margin-left: -15px;
    width: 48%;
    top: 8px;
  }
  .nav-btn.back {
    left: auto;
  }
  .nav-btn.buy-now {
    right: 0;
  }
  .new-btn {
    font-size: 15px;
    min-width: 110px;
  }
#prev_back   .back-text {
    display: inline-block;
    position: relative;
    top: -6px;
    line-height:2;
  }
  .new-btn .fa-long-arrow-left {
    top: 1px;
  }
  .buy-now .new-btn {
    line-height: 2.4;
    padding-left: 13px;
    top: 2px;
  }
  .custom-select {
    font-size: 14px;
  }
  .use-steps-section .step-pallet {
    padding-top: 5px;
  }
  .use-steps-section .step-pallet .title-text {
    font-size: 17px;
  }
  .use-steps-section .step-pallet .step {
    margin: 0;
  }
  .use-steps-section .step-pallet .step-block .step-no {
    font-size: 15px;
  }
  .use-steps-section .step-pallet svg {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
  }
  .device-section {
    width: 64%;
  }

 
}
@media all and (min-width: 900px) and (max-width: 1023px) {
  .footer-toolbar .tool-wrap {
    padding: 10px 12% 0;
  }
}
@media all and (min-width: 768px) and (max-width: 898px) {
  .choose-devices li,
  .devices li {
    width: 23%;
    margin: 22px 1% 12px;
  }
  .model-wrapper li figure {
    width: 100%;
  }
  .model-tab .device-pallet .heading h3 {
    background: none;
  }
  .scale-section .tool-wrap {
    max-width: 100%;
  }
  .scale-section .tool-wrap {
    width: 183px;
  }
  .rotate-section .tool-wrap width:67px .rotate-svg svg {
    margin-left: -8px;
  }
  .undo-section .tool-wrap {
    width: 82px;
  }
  .background-section .tool-wrap {
    width: 97px;
  }
  .layer-section .tool-wrap {
    width: 103px;
  }
  .delete-section .tool-wrap {
    width: 47px;
  }
.footer-toolbar .share .tool-wrap {
    padding: 16px 11px 0 10px;
}
.rotateBox{
	 margin: 0 4px;
}
#effectDrag {
    left: 404px !important;
}
.filter.sub-categoris{
	margin-right: 0;
}
.filter.categoris {
    margin-left: 84px;
}
.filter .custom-select,.filter span.current-select{
	float:none;
}
.filter span.current-select{
	margin-bottom: 10px;
	text-align:left;
}
}
@media all and (max-width: 767px) {
  #uploadIMg{
  	height:auto;
  	padding-bottom:15px;
  }
  .product-cancel {
    top: 10px !important;
  }
  .prod_bck.btn {
    left:auto;
    margin: 0 auto;
    max-width: 80px;
    right:10px;
    top:10px;
  }
  .heading h3{
  	margin-top:16px;
  }
  .custom-select .color-pallet{
  	margin-right: 6px;
  }
  .browse-options #uploader_browse {
    text-align:left;
    width:100%;
    padding-left:48px;
  }
  .browse-options #uploader_browse #MyCom {
    font-size: 17px;
  }
  .browse-options #uploader_browse #UpMyUpl {
    font-size: 12px;
  }
  .nav-btn.back,
  .nav-btn.buy-now {
    margin-top: 0;
  }
  #url_image {
    font-size: 12px;
    width: 100%;
  }
  .model-tab .device-pallet .heading h3 {
    background: none;
  }
  .product-section {
    overflow: hidden;
    margin: 0;
  }
  .model-table-outer {
    position: static;
  }
  .view-sm {
    display: block !important;
  }
  .only-lg-view {
    display: none !important;
  }
  h3 {
    font-size:18px;
    margin: 10px 0;
  }
  .model-wrapper li figure img {
    width: 100%;
  }
  .choose-devices li,
  .devices li {
    width: auto;
    font-size: 14px;
  }
  .product-type li {
    float: none;
  }
  .tool-pallet {
    position: absolute;
    left: 0;
    top: 0;
     z-index: 99999999;
    margin-top: 0;
    min-width: 70px;
    
  }
  .tool-pallet .title {
    display: none;
  }
  .tool-pallet .svg-wrap svg {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
  }
  .tool-pallet .label {
    font-size: 11px;
    line-height: 1.4;
    margin-top: -7px;
  }
  #content {
    min-height: 0;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
  }
  .tool-pallet {
    display: none;
  }
  .display-banner span {
    display: inline-block;
    width: 50%;
    position: relative;
  }
  .display-banner .display-back {
    width: 40%;
    top: 6px;
  }
  .model-container {
    left: 0;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .model-container .model-tab {
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }
  .model-container .check-on-product,
  .model-container .display-banner {
    float: none;
    width: 100%;
  }
  .model-container .blank-div {
    display: none;
  }
  .model-container .check-on-product {
    margin-top: 20px;
  }
  .model-container .check-on-product .btn {
    display: inline-block;
    margin: 10px;
    font-size: 12.6px;
  }
  .model-container .product-wrapper {
    display: block;
    padding: 20px 10px;
  }
  .i-image {
    display: none;
  }
  .mobile-nav {
    padding: 10px 20px;
  }
  .mobile-nav .nav-toggle {
    float: left;
    font-size:30px;
    color: #ffffff;
    font-weight: bold;
  }
  .mobile-nav .fa-share-alt {
    font-size:25px;
    color: #9c9c9c;
    float: right;
    padding-top: 3px;
  }
  .mobile-nav .info {
    float: right;
    padding-top: 8px;
    margin-right: 20px;
  }
  .use-steps-section .i-image {
    display: block;
  }
  .product-section #header {
    border-radius: 0px;
  }
  .product-section #footer {
    border-radius: 0px;
    overflow: visible;
    position: relative;
    z-index: 10;
  }
  .footer-toolbar .undo-section,
  .footer-toolbar .delete-section {
    position: absolute;
    top: -75px;
    right: 10px;
    border-left: none;
    border-right: none;
    z-index: 100;
    min-height: 0;
  }
  .footer-toolbar .undo-section img,
  .footer-toolbar .delete-section img {
    width: 30px;
    height: 30px;
  }
  .footer-toolbar .undo-section .undo-redo .undo svg,
  .footer-toolbar .delete-section .undo-redo .undo svg,
  .footer-toolbar .undo-section .undo-redo .redo svg,
  .footer-toolbar .delete-section .undo-redo .redo svg {
    width: 22px;
    height: 26px;
  }
  .footer-toolbar .undo-section .tool-wrap,
  .footer-toolbar .delete-section .tool-wrap {
    border-left: none;
  }
  .footer-toolbar .undo-section .panel-title,
  .footer-toolbar .delete-section .panel-title {
    display: none;
  }
 
    .footer-toolbar .undo-section { 
    right:-5px;
    top:-194px;

  }
  .footer-toolbar li {
    height: auto;

  }
  .footer-toolbar .tool-wrap {
    padding: 10px 5px 0;
    min-height: 0;
  }
  .footer-toolbar .share {
    display: none;
  }
  .footer-toolbar .layer-section {
    border-right: none;
  }
  .footer-toolbar .scale {
    width: 100%;
  }
  .footer-toolbar .lock-img {
   /* float: right;
    margin-left: 3px;
    left: -15px;*/
    position: relative;
  }
  .footer-toolbar .main-tool .circle {
    top: 7px;
    left: 28px;
    height: 8px;
    width: 8px;
  }
  .footer-toolbar .tranparency img {
    display: inline-block;
    margin: 0 1px;
    width: 100%;
  }
  .footer-toolbar .tranparency .value-pointer {
    right: 13px;
    top: -4px;
  }
  .footer-toolbar .tranparency .fa-caret-up:before {
    font-size: 20px;
  }
  .footer-toolbar .tranparency .increase,
  .footer-toolbar .tranparency .decrease {
    top: -6px;
    margin: 0 1px;
    font-size: 10px;
  }
  .footer-toolbar .scale-section {
    width:50%;

  }
  .footer-toolbar .tool-img .value-option {
    margin-left: 0;
  }
  .footer-toolbar .panel-title {
    font-size: 14px;
    margin-bottom:10px;
  }
  .footer-toolbar .rotate-section {
    width: 23%;
  }
  .footer-toolbar .rotate-section .main-tool img {
    width: 75%;
  }
  .footer-toolbar .rotate-section .main-tool input {
    width: 100%;
  }
  .footer-toolbar .background-section {
   border:none;
    height: 50px;
    left: 0;
    min-height: 0;
    position: absolute;
    top:-50px;
    width: 50px;
  }
  .footer-toolbar .background-section .tool-wrap{
  	padding: 0;
  }
  .footer-toolbar .background-section .main-tool {
    display: inline-block;
  }
  .footer-toolbar .layer-section {
    width:29%;
  }
  .model-tab .heading h3 {
    font-size:24px;
  }
  .model-tab .heading .btn {
    position:absolute;
    bottom:-50px;
    left:10px;
    margin:0;
    float:none;
    top:auto;
    font-size:15px;
    padding:3px 8px 3px 7px;
    max-width:70px;
  }
  .browse-options li {
    padding: 10px;
  }
  .browse-options li h4 {
    font-size: 18px;
  }
 .model-popup.url-box {
  	transform: translateY(-50%) translateX(0px);
  	-webkit-transform: translateY(-50%) translateX(0px);
  	-ms-transform: translateY(-50%) translateX(0px);
  }
  .browse-options li .caption {
    font-size: 12px;
    display: block;
    word-wrap: break-word;
  }
  .browse-options li:hover {
    padding: 9px;
  }
  .browse-options li .svg-wrap {
    margin-right: 15px;
   
    padding: 2px 4px 0;
  }
  .browse-options li .main-text {
    width:100%;
    padding-left: 48px;
  }
  .browse-options li .main-text.slider-wrap {
    width: 74%;
  }
  .library-preview .heading .btn {
    bottom:auto;
    top:10px;
    left:auto;
    right:10px;
    padding: 2px 14px;
      font-size: 13px;
  }

 .device-section {
 	position:absolute;
 	top:60px;
 	left:0;
 	width:100%;
 	height:280px;
 	height: calc(100% - 185px);
 	height: -webkit-calc(100% - 185px);
 	height: -ms-calc(100% - 185px);
 	
 }


  .device-view {
    position: static;
    float: right;
    width: 29%;
    background: #ffffff;
  }
  .device-view h5 {
    margin: 10px 0 20px;
    font-size: 14px;
  }
  .device-view .uploaded-images li {
    float: none;
    width: auto;
  }
  .apply-effect,
  .effect {
    display: none;
  }
  .device-view-pallet {
    left: 10px;
    top: 14px;
    position: absolute;
    width:108px;
    cursor:pointer;
  }
  .device-view-pallet .select-device-view figure {
    width: auto;
    margin: 10px 0;
    display: block;
  }
  .apply-effect.view-sm {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
  }
  .apply-effect.view-sm h5 {
    font-size: 16px;
    margin-left: 0;
  }
  .apply-effect-panel {
    padding: 10px 10px 6px;
    width: 90%;
    margin: 20px auto 0;
  }
  .apply-effect-panel .effect-preview {
    float: none;
    width: auto;
    margin-left: 2%;
    margin-bottom: 20px;
  }
  .apply-effect-panel .panel-wrapper {
    float: none;
    width: auto;
    padding-bottom: 100px;
  }
  .apply-effect-panel .panel-wrapper .effect-tool-list a {
    font-size: 14px;
  }
  .effect-tab-wrapper .effect-icon {
    margin-right: 12px;
  }
  .effect-tab-wrapper .effect-icon small {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .effect-tab-wrapper li {
    padding: 8px;
  }
  .effect-tab-wrapper li:hover {
    padding: 7px;
  }
  .effect-tab-wrapper li h5 {
    font-size: 13px;
  }
  .effect-tab-wrapper li .main-text {
    width: 74%;
  }
  .effect-tab-wrapper li .caption {
    font-size: 11px;
  }
  .btn-panel .btn {
    padding: 2px 14px;
    font-size: 12px;
  }
  .effect-panel {
    margin-top: 48px;
  }
  .tab-panel-wrapper {
    min-height: 200px;
  }
  .tab-panel-wrapper .effect-tab .effect-tab-wrapper {
    height: 200px;
  }
  .nav-btn-panel {
    margin: 20px;
  }
  .nav-btn-panel .nav-btn {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
    float: right;
  }
  .nav-btn-panel .nav-btn .price {
    display: none;
  }
  .nav-btn-panel .nav-btn.back {
    float: left;
  }
  .text-pallet .device-section {
    float: none;
    margin-left: 33%;
  }
  .text-pallet .add-text-pallet {
    float: none;
    width: 100%;
    padding: 10px 0;
  }
  .text-pallet .add-text textarea {
    font-size: 12px;
  }
  .text-pallet .add-text h5 {
    margin-bottom: 20px;
  }
  .text-pallet .add-text .delete-btn {
    position: relative;
    top: 10px;
    right: 10px;
  }
  .text-pallet .device-view-pallet {
    float: left;
    position: static;
  }
  .text-pallet .add-text {
    clear: both;
  }
  .text-pallet .form-box {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 47%;
    margin: 0 1%;
  }
  .text-pallet .form-box .custom-select {
    font-size: 12px;
  }
  .text-pallet .form-box .custom-select .color-pallet {
    height: 15px;
    width: 15px;
  }
  .text-pallet .form-box .custom-select .select-box {
    padding: 7px;
  }
  .text-pallet .form-box .custom-select .select-box:after {
    top: 13px;
  }

  .model-tab .slider {
    bottom: -20px;
  }
  .image-library li {
    float: none;
    display: inline-block;
    margin: 0 0.5% 15px;
  }

  .use-steps-section .step-pallet li {
    float: none;
    width: auto;
    margin: 20px 0;
  }
  .use-steps-section .step-pallet li .use-effect {
    display: none;
  }
  .use-steps-section .step-pallet li .step-block {
    float: left;
    width: 70%;
  }
  .use-steps-section .step-pallet li .svg-wrap {
    width: 20%;
  }
  .use-steps-section .step-pallet li .svg-wrap .svg {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    margin-top: 10px;
  }
  .image-preview.model-popup {
    width: 100%;
  }
  .buy-now .buy-arrow {
    float: none;
    display: inline-block;
  }
  .device-pallet li {
    display: block;
  }
  .device-pallet li .product-wrap {
    width: 200px;
    height: auto;
  }
  .tool-pallet {
    background: linear-gradient(to bottom, #333333 0%, #333333 70%, #0d0d0d 100%);
    /* W3C */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(70%, #333333), color-stop(100%, #0d0d0d));
    /* Chrome,Safari4+ */
  }
  .delete-btn {
    width: 22px;
    height: 22px;
    line-height: 2;
  }
  .dropdown.scroll {
    height: 110px;
  }
  .device-pallet.brand li .product-wrap {
    width: 132px;
    height: 140px;
  }
  .device-pallet.brand li figure {
    padding: 5px 7px;
  }
  .device-pallet.brand.model li figure {
    padding: 5px 15px;
  }
  #preview_panel #previewPanel{
  	display:block;
  	text-align:center;
  }
  #previewPanel .preview-back, #previewPanel .preview-front{
  	margin:0;
  }
 body .inneroverlay .load-content{
		margin:0 auto;
		left:0;
		top:44%;
		right:0;
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-o-transform: translateX(0);
	}
}
.device-pallet li {
  padding-bottom: 20px;
}
.device-pallet .bx-controls-direction {
  margin-top: 30px;
}
.device-pallet .bx-controls-direction a {
  position: relative;
  display: inline-block;
  top: auto;
  margin: 5px 10px;
}
.device-pallet .bx-pager {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8px;
  left: 0;
}
.device-pallet .bx-pager-link {
  display: none;
}
.device-pallet .bx-pager-link.active {
  display: block;
}
.device-pallet .footer-toolbar .tranparency img {
  width: 100%;
}
@media all and (min-width: 480px) and (max-width: 767px) {
 
  .text-pallet .add-text {
    padding-top: 100px;
  }
 
  .footer-toolbar .tool-img .decrease {
    margin-right:57px;
  }
  .footer-toolbar .scale-section .main-tool .circle {
    left: 22%;
    top: 25%;
  }
  .footer-toolbar .scale-section .tranparency img {
    width: 100%;
  }
  .footer-toolbar .scale-section .tranparency .value-pointer {
    right: 10%;
    top: 8px;
  }
  .footer-toolbar .scale-section .tranparency .decrease {
    margin-right: 0;
  }
  .footer-toolbar .scale-section .tranparency .increase,
  .footer-toolbar .scale-section .tranparency .decrease {
    top: -12px;
  }
  .footer-toolbar .rotate-section {
    width: 18%;
  }
  .footer-toolbar .rotate-section .main-tool img {
    width: 64%;
  }
  .footer-toolbar .background-section {
    width: 19%;
  }
  .footer-toolbar .background-section .main-tool {
    margin-top: 20px;
  }
  
  .footer-toolbar .layer-section .layer-order svg {
    margin: 0 10px;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms--webkit-transform: scale(1.5);
    -o--webkit-transform: scale(1.5);
  }
  .rotateBox{
  	margin-left: 22px;
  }
  .footer-toolbar .delete .main-tool{
  	 margin-top: 8px;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .scale-section .slider-range {
    width: 62%;
  }
  .scale-range .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all .ui-slider-handle {
    height: 10px;
    width: 10px;
    top: 6px;
  }
  .rotate-svg svg {
    width: 65px;
  }
  .device-section .canvas-section img{
  	 width:auto;
  	 height:auto;
  	 max-height:335px;
  	 top:0;
  	 transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	position:absolute;
	bottom:0;
	margin:auto;
  }


  .footer-toolbar .layer-section {
    width:50%;
}
  .footer-toolbar .rotate-section {
    width:50%;
    position:absolute;
    right:0;
    top:57px;
    border-top: 1px solid #3b3b3b;
}
  .footer-toolbar .rotate-section .panel-title{
	float: left;
}

 .footer-toolbar .rotate input#rotationVal{
 	left: 13px;
 	margin-top:-21px;
 } 
 .footer-toolbar .layer .main-tool{
 	  margin-top: 0;
 	  float:left;
 }

 .footer-toolbar .delete .main-tool {
 	 margin-top: 9px
 }
}

@media all and (max-width:480px) {
	.device-section .canvas-section img{
		 max-height:406px;
	}
	.filter{
		width:44%;
	}
	
}

@media all and (min-width:599px) and (max-width:600px),(max-height:600px) {
	.device-section .canvas-section img {
		 max-height:280px;
	}
	
	}		

@media all and (max-width:370px) {
	.device-section .canvas-section img{
		 max-height:280px;
	}
	#outputGen{
		padding:0 15px;
	}
	.main-contentarea a.upload-photo-btn{
		width:100%;
		margin-bottom:10px;
	}
	
}

@media all and (max-width:767px) {
	html.html-box,.html-box body,.html-box #wrapper{
	height:100%;
	min-height:480px;
	}
	.html-box #content{
		min-height:100%;
		padding-bottom:0;
	}
	.tool-pallet li{
		 float: left;
    height: 60px;
    width: 33.33%;
    background:#2a2a2a url(../images/pattern.png) repeat 0 0;
    border-right: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
	}
	.tool-pallet li:hover{
		background:#2b2a2a url(../images/pattern.png) repeat 0 0;
	}
.tool-pallet{
	  background:#2a2a2a url(../images/pattern.png) repeat 0 0;
}
.tool-pallet li a{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
}	
.select-device-view{
	display:none;
}
.tool-pallet{
	width:100%;
	float: none;
}
.product-section{
	padding:0;
}
.device-view h5{
	margin:0;
	border:1px solid #ccc;
	padding:5px 9px 9px;
}
.select-device-view{
	position:absolute;
	left:0;
	right:0;
	width:60%;
	text-align:center;
	margin:0 auto;
}
.footer-toolbar{
	position:absolute2;
	left:0;
	bottom:0;
	border-top:1px solid #3b3b3b;
}
 .footer-toolbar .delete-section{
	top: -76px;
   
}
.undo-redo {
    margin-top: 28px;
}
.product-section #footer{
	position:absolute;
	bottom:-159px;
	min-height:0;
}
.model-container{
	z-index: 9999;
}

.add-text {
    background:#fff;
    height:129px;
    left: 0;
    top:-49px;
    position: absolute;
    width: 100%;
    background:#fff;
    display:block;
    border-bottom:1px solid #c7c7c7;
}
.add-text h5{
	display:none;
}
.add-text form{
	margin-top: 10px;
}
.add-text textarea{
	 height: 56px;
	 margin-bottom:28px
}
.add-text #addText.btn,.add-text #updateText.btn{
	bottom:1px;
	 padding: 2px 8px;
    position: absolute;
    top: auto;
     left: 0;
     margin:0;
     font-size:11px;
     width:72px;
}
.add-text #addText.btn{
	width:70px !important;
}
.add-text #updateText.btn{
	 left: 80px;
}
.text-tool{
	bottom: -28px;
    margin: 0;
    padding: 2px 8px;
    position: absolute;
    right: -9px;
}

.form-box{
	float: left;
    position: relative;
    width: 50%;
}
.add-text .form-box + .form-box{
	float: right;
    width: 39%;
}
.custom-select{
	float:right;
	width:100%;
}
.tool-button {
	display:block;
}
.uploaded-images-wrapper{
	position: absolute;
    right: 10px;
    top:10px;
    width:108px;
   display: none;
}
.uploaded-images-wrapper #uploadIMg li img{
	height:48px;
    width:48px;
}
.uploaded-images-wrapper #uploadIMg li{
	margin-top:10px;
	margin-bottom:10px;
	 width:50%;
	float:left;
	padding-top:0;
}
.uploaded-images li:hover .delete-btn {
    transform: scale(0.8) !important;
    -webkit-transform: scale(0.8) !important;
    transition: all 0.3s ease 0s !important;
    -webkit-transition: all 0.3s ease 0s;
}
.uploaded-images h5,.device-view-pallet h5{
	position:relative;
	cursor:pointer;
}

.uploaded-images h5:after,.device-view-pallet h5:before{
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom:-6px;
	margin:0 auto;
	width: 0;
height: 0;
border-style: solid;
border-width: 5px 5px 0 5px;
border-color: #ccc transparent transparent ;
}
.uploaded-images h5.show-images:after,.device-view-pallet h5.show-device:before{
	bottom:0px;

border-width: 0 5px 5px 5px;
border-color: transparent transparent #ccc; 
}
.footer-toolbar .background .panel-title{
	display:none !important;
}
.footer-toolbar .layer-section .panel-title{
	float:left;
	 width: 56px;
}
.footer-toolbar .rotate .panel-title{
	 margin-top: 27px;
	 margin-left: 10px;
}
.rotateBox{
	   float: left;
    margin-left: 22px;
    transform: scale(0.8);
    -webkit- transform: scale(0.7);
    -ms- transform: scale(0.8);
}
.palette {
    height: 48px;
    width: 62px;
}
.product-section #header, .product-section #footer,.undo-redo .undo, .undo-redo .redo{
	background:#2a2a2a url(../images/pattern.png) 0 0 repeat;
}
.undo-redo .undo, .undo-redo .redo{
    display: block;
    padding: 12px;
}
.loader .inner-loader {
    border-radius: 19px;
    height: 18%;
    left: 50%;
    right: auto;   
    width: 24%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.footer-toolbar .layer .layer-order.two{
	left: 6px;
}
.footer-toolbar li,.footer-toolbar .tool-wrap{
	border-left:none;
	border-right:none;
}
.footer-toolbar ul{
	 padding-bottom: 24px;
	 position:relative;
}
.footer-toolbar ul:before{
	content:'';
	position:absolute;
	left:50%;
	top:0;
	height:100%;
	width:1px;
	background:#3b3b3b;
}
.footer-toolbar .background .main-tool{
	margin-top:0;
}
.filter .custom-select{
	width: 126px;
	float:none;
}
.filter #clipCategory{
	float:right;
}
.filter span.current-select{
	font-size: 12px;
	float:none;
}
.filter.categoris {
    margin-left: 0;
    text-align:right;
}
.filter.sub-categoris{
	margin-right:0;
	float:right;
}
.categoris-box{
	text-align: left;
}
.image-library ul {
    height:calc(100vh - 250px);
    height:-webkit-calc(100vh - 250px);
    height:-o-calc(100vh - 250px);
    height:-ms-calc(100vh - 250px);
}
.custom-select .select-box{
	font-size: 11px;
}
.model-tab.library-preview .heading{
	padding-bottom:0;
}
.undo-redo .undo{
	border-bottom: 1px solid #3b3b3b;
}
.undo-redo .undo, .undo-redo .redo{
	padding: 12px 12px 7px;
}
.model-wrapper {
	position:relative;
}
.owl-carousel .owl-item {
float: left;
}
.model-wrapper .btn.prev, .model-wrapper .btn.next{
	top:auto;
	bottom:0;
}
.model-wrapper .btn.prev{
	right: auto;
left:10px;
}
.customNavigation{
	display:block;
}
.device-section .canvas-section img{
	border-top:none;
}
.owl-carousel{
	 padding-bottom: 56px;
}
.btn, input.btn, button.btn{
	 font-size: 13px;
}
.closeblock.delete-btn {
	font-size:13px;
	cursor:pointer;
	line-height: 1.5;
	 right:0px;
	 bottom: -24px;
	 position:absolute;
	 display:block;
	 
}
.add-text .closeblock.delete-btn {
	transform: scale(1.2);
	 -webkit-transform: scale(1.2);
	 -o-transform: scale(1.2);
}
.closeblock:hover{
	color:#000;
}
.footer-toolbar .scale-range .decrease{
	  right: 27px;
}

 #header .social-share {
   display: none;
    font-size: 14px;
    max-width: 228px;
    padding: 10px 0;
    position: absolute;
    right: 11px;
    top: 50px;
    width: 46px;
    background: url(../images/pattern.png) repeat 0 0 #2a2a2a;
     z-index: 9999;
  
}
.browse-options li{
	padding:9px;
}
.ImgZomm-box{
	display:none !important;
}
.browse-options li{
	height: 58px;
}
.safari .browse-options #uploader_browse, .safari .browse-options .main-text {
	padding-left:45px;
	width:100%;
}

.social-share li{
	margin-bottom:5px;
}
.uploaded-images-wrapper #uploadIMg li{
	margin-bottom:0;
	margin-top:0;
	padding:0 3px;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{
	padding-top:10px;
	
}
#outputGen{
	text-align:center;
}
body .main-contentarea a.upload-photo-btn{
	font-size:11px;
	float:none;
	margin:5px 3px;
}
#uploadIMg .mCSB_container{
	overflow:visible;
}
#uploadIMg li.currentImg:before{
	 transform: rotate(-90deg) scale(0.5);
	 -webkit-transform: rotate(-90deg) scale(0.5);
	 -ms-transform: rotate(-90deg) scale(0.5);
	 -o-transform: rotate(-90deg) scale(0.5);
	 top:55%;
	 left:9px;
	 animation: 1s ease-in-out 0s 10000 animated-mobile;
	-webkit-animation: 1s ease-in-out 0s 10000 animated-mobile;
	-o-animation: 1s ease-in-out 0s 10000 animated-mobile;
	-ms-animation: 1s ease-in-out 0s 10000 animated-mobile;
}
.preview-section span{
	width:100%;
}
}

@media all and (max-width:360px) {
	.rotateBox{
	margin-left:0;
}

}
@media all and (max-height:360px) {

.device-section .canvas-section img {
    height:100%;
    width:auto;
}

}
@media all and (max-height:479px) {
	.image-library ul {
    height:calc(100vh - 124px);
    height:-webkit-calc(100vh - 124px);
    height:-o-calc(100vh - 124px);
    height:-ms-calc(100vh - 124px);
}
}
@media all and (max-height:320px) {
	.image-library ul {
    height:calc(100vh - 83px);
    height:-webkit-calc(100vh - 83px);
    height:-o-calc(100vh - 83px);
    height:-ms-calc(100vh - 83px);
}
}
@media all and (max-device-width:767px){
	.footer-toolbar .background-section{
		top: -49px;
	}
	.footer-toolbar ul {
    padding-bottom:30px;
   }
 .add-text .closeblock.delete-btn {
	 transform: scale(1.5);
	 -webkit-transform: scale(1.5);
	 -o-transform: scale(1.5);
	  bottom: -28px;
}
.custom-select .select-box,.add-text #addText.btn, .add-text #updateText.btn{
	font-size:13px;
}
.add-text #updateText.btn{
	width:95px;
}
}


@media all and (max-device-width:1024px){
body{
	background:#fff;
}
.lock-tool.lock{
	height: 7px;
	top:1px;
}
.un-lock.lock-tool svg{
	width:19px;
	top:-19px;
}
.lock.lock-tool svg{
	width:19px;
	top: -10px;
	position:relative;
}
.touch_effect {
	-webkit-transform:scale(3);
	
}

}
@media all and (min-width:768px) {
	.device-section .canvas-section img {
		max-height:100%;
	}
	#previewPanel .preview-back, #previewPanel .preview-front{
		padding:0 10px;
		 max-width: 47%;
	}
	body .inneroverlay .load-content{
		margin:0;
		left: 50%;
		top: 33%;
		transform: translateX(-68%);
		-webkit-transform: translateX(-68%);
		-o-transform: translateX(-68%);
	}
}
