@import "global.css";
@import "font-awesome.min.css";
.base {
	background: url(../images/skin-bg.jpg) repeat;
}
.gradient-black-one {
	background: linear-gradient(to bottom, #4d4d4d 0%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(50%, #4d4d4d), color-stop(91%, #0d0d0d), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
}
.gradient-grey-one {
	background: linear-gradient(to bottom, #333333 0%, #333333 70%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(70%, #333333), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
}
.gradient-grey-hover {
	background: linear-gradient(to bottom, #2b2b2b 0%, #2b2b2b 70%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(70%, #2b2b2b), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
}
.white-effect {
	background: linear-gradient(to right, #4d4d4d 0%, #636363 40%, #636363 80%, #4d4d4d 100%);
	/* W3C 32 to 73 */
	background: -webkit-linear-gradient(to right, #4d4d4d 0%, #636363 40%, #636363 80%, #4d4d4d 100%);
	/* W3C 32 to 73 */
}
.white-effect-new {
	background: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #dedede 32%, #dedede 90%, rgba(255, 255, 255, 0) 100%);
	/* W3C 32 to 73 */
	background: -webkit-linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #dedede 32%, #dedede 90%, rgba(255, 255, 255, 0) 100%);
	/* W3C 32 to 73 */
}
.btn {
	background: #e6e6e6;
	background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 70%, #e6e6e6 100%);
	/* W3C */
	background: -webkit-linear-gradient(to bottom, #fafafa 0%, #f2f2f2 70%, #e6e6e6 100%);
	/* W3C */
}

.btn:focus {
	box-shadow: 0px 0px 3px 0px #107dd1;
	transition: all 0.2s;
}
.icon-gardient {
	background: #bababa;
	background: linear-gradient(to bottom, #bababa 0%, #9c9c9c 100%);
	/* W3C */
	background: -webkit-linear-gradient(to bottom, #bababa 0%, #9c9c9c 100%);
	/* W3C */
}

.browse-tab {
	background: linear-gradient(to bottom, #e6e6e6 0%, #f2f2f2 20%, #ebebeb 100%);
	background: -webkit-linear-gradient(to bottom, #e6e6e6 0%, #f2f2f2 20%, #ebebeb 100%);
	border: 1px solid #d1d1d1;
	padding: 17px;
	color: #757575;
	border-radius: 5px;
}

.browse-arrow {
	background: linear-gradient(to bottom, #e4e4e4 0%, #f1f1f1 3%, #e5e5e5 13%, #dfdfdf 17%, #dddddd 20%, #d1d1d1 30%, #cacaca 33%, #cacaca 37%, #bebebe 47%, #aeaeae 50%, #adadad 53%, #b7b7b7 67%, #c7c7c7 80%, #cccccc 87%, #d3d3d3 90%, #d5d5d5 93%, #dddddd 97%, #dfdfdf 100%);
	/* W3C */
	background: -webkit-linear-gradient(to bottom, #e4e4e4 0%, #f1f1f1 3%, #e5e5e5 13%, #dfdfdf 17%, #dddddd 20%, #d1d1d1 30%, #cacaca 33%, #cacaca 37%, #bebebe 47%, #aeaeae 50%, #adadad 53%, #b7b7b7 67%, #c7c7c7 80%, #cccccc 87%, #d3d3d3 90%, #d5d5d5 93%, #dddddd 97%, #dfdfdf 100%);
	/* W3C */
	border-radius: 2px;
	border: 1px solid #bababa;
}
.preview-heading {
	background: linear-gradient(to bottom, #e6e6e6 0%, #fafafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #fafafa));
	/* Chrome,Safari4+ */
}
.layer-effect {
	position: absolute;
	background: url(../images/pattern.png);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.red-gradient {
	background: linear-gradient(to bottom, #fb2b2b 0%, #f22222 23%, #e31716 46%, #d80e0e 69%, #d10909 77%, #d0080a 85%, #d40107 92%, #d7392d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb2b2b), color-stop(23%, #f22222), color-stop(46%, #e31716), color-stop(69%, #d80e0e), color-stop(77%, #d10909), color-stop(85%, #d0080a), color-stop(92%, #d40107), color-stop(100%, #d7392d));
	/* Chrome,Safari4+ */
}
.new-btn {
	background: linear-gradient(to bottom, #4d4d4d 0%, #1c1c1c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(20%, #4d4d4d), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
	color: #ffffff;
}

.delete-btn {
	background: linear-gradient(to bottom, #fb2b2b 0%, #f22222 23%, #e31716 46%, #d80e0e 69%, #d10909 77%, #d0080a 85%, #d40107 92%, #d7392d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb2b2b), color-stop(23%, #f22222), color-stop(46%, #e31716), color-stop(69%, #d80e0e), color-stop(77%, #d10909), color-stop(85%, #d0080a), color-stop(92%, #d40107), color-stop(100%, #d7392d));
	/* Chrome,Safari4+ */
	border: 2px solid #ffffff;
	color: #ffffff;
	height: 18px;
	width: 18px;
	display: inline-block;
	line-height: 1.6;
	font-size: 8px;
}
.effect-tab-gradient {
	background: linear-gradient(to bottom, #dedede 0%, #d8d8d8 25%, #bababa 65%, #b5b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(25%, #d8d8d8), color-stop(65%, #bababa), color-stop(100%, #b5b5b5));
	/* Chrome,Safari4+ */
}
.effect-tool-gradient {
	background: linear-gradient(to bottom, #ebebeb 0%, #f2f2f2 15%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(22%, #f2f2f2), color-stop(100%, #f2f2f2));
	/* Chrome,Safari4+ */
}
.use-effect {
	background: linear-gradient(to bottom, #494949 0%, #3d3d3d 31%, #333333 46%, #323232 50%, #212121 78%, #202020 83%, #1e1e1e 84%, #191919 98%, #1a1a1a 100%);
	background: -webkit-linear-gradient(to bottom, #494949 0%, #3d3d3d 31%, #333333 46%, #323232 50%, #212121 78%, #202020 83%, #1e1e1e 84%, #191919 98%, #1a1a1a 100%);
}
body {
	background: url(../images/body-bg.jpg) repeat;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clearfix {
	display: block;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
a {
	color: #0866b1;
}
#content {
	display: block;
	min-height: 563px;
}
#content:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
#content h3 {
	color: #0464b0;
	line-height: 1;
}
#content.less-footer {
	min-height: 696px;
}
.heading {
	padding: 25px 10% 0;
	display: block;
}
.heading:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.heading h3 {
	display: inline-block;
}
.heading .back {
	float: right;
	
}
.product-section {
	max-width: 1024px;
	margin: 0px auto;
	position: relative;
}
.product-section #header, .product-section #footer {
	background: url(../images/pattern.png), #2b2b2b;
	display: block;
	color: #d6d6d6;
	position: relative;
}
#header {
border-radius: 10px 10px 0 0;
}
.product-section #header:after, .product-section #footer:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.product-section #content {
	background: #ffffff;
	text-align: center;
	position: relative;
}
.btn {
	position: absolute;
	right: 10px;
	top: 46px;
}
.btn.back{
	top:16px;
}

.i-image {
	float: right;
	background: #000;
	font-size: 15px;
	padding: 6px 10px 7px 18px;
	text-aign: right;
	font-weight: bold;
	text-transform: uppercase;
	width: 20%;
	line-height: 1.3;
	background: linear-gradient(to bottom, #4d4d4d 0%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(50%, #4d4d4d), color-stop(91%, #0d0d0d), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
	position: relative;
	cursor: pointer;
	border-radius: 0 5px 0 0px;
}
.model-table-outer {
	width: 100%;
	position: relative;
	display: block;
}
.model-table-outer:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.model-table {
	width: 100%;
}
.model-table ul {
	display: block;
	max-width: 960px;
	margin: 0 auto;
}
.model-table ul:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.model-wrapper {
	text-align: center;
}
.model-wrapper h3 span {
	color: #0464b0;
	display: block;
}
.model-wrapper li {
	display: inline-block;
	margin: 22px 2% 0px;
	vertical-align: middle;
}
.model-wrapper li figure {
	border-radius: 10px;
	border: 1px solid #e6e6e6;
	display: inline-block;
	transition: all ease 1s;
}
.model-wrapper li figure figcaption {
	background: #e6e6e6;
}

.model-wrapper li figure img {
	display: block;
	border-radius: 9px 9px 0 0;
	padding: 10px;
	width:100%;
}
.model-wrapper li figcaption {
	line-height: 2;
	color: #6e6e6e;
	text-transform: capitalize;
	border-radius: 0 0 6px 6px;
}
#footer {
	min-height: 20px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
}
#footer .tool-text {
	font-size: 20px;
	padding: 6px 0;
	display: inline-block;
	text-shadow: -2px 2px 1px #000000;
}
.devices {
	background: none;
}
.slider {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 20px;
	display:none;
}
.slider a {
	color: #9c9c9c;
	display: inline-block;
	margin: 0 10px;
}

.slider .active {
	color: #107dd1;
}
.slider .slider-btn {
	content: "";
	position: relative;
	top: 2px;
	height: 0;
	width: 0;
	border-style: solid;
	transition: linear 0.4s;
}
.slider .slider-btn.prev {
	border-width: 8px 12px 8px 0;
	border-color: transparent #9c9c9c transparent #9c9c9c;
}

.slider .slider-btn.next {
	border-width: 8px 0px 8px 12px;
	border-color: transparent #9c9c9c transparent #9c9c9c;
}

.tool-pallet {
	min-width: 103px;
	float: left;
	margin-top: -37px;
	position: relative;
	width: 11%;
	
}
.tool-pallet .title {
	background: #707070;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	text-align: center;
	line-height: 2.6;
	border-radius: 10px 0 0 0;
}
.tool-pallet li {
	display: table;
	height: 113px;
	width: 100%;
	padding: 0 0;
	text-align: center;
	position: relative;
	transition: all 0.4s;
	background:#0d0d0d url(../images/gradient.jpg) 0 0 repeat-x;
	background: linear-gradient(to bottom, #333333 0%, #333333 70%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(70%, #333333), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
}
.tool-pallet li:after {
	content: "";
	position: absolute;
	border-color: transparent transparent transparent #1c1c1c;
	border-width: 8px 0 8px 10px;
	border-style: solid;
	right: -10px;
	top: 50%;
	margin-top: -9px;
	height: 0;
	width: 0;
	opacity: 0;
	fliter: alpha(opacity=0);
}
.tool-pallet li a {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	color: #999999;
	font-size: 13px;
	position: relative;
	padding: 0;
	/*z-index:999;*/
}

.tool-pallet li a .icon-tool {
	display: block;
}
.tool-pallet li a .label {
	margin-top: -10px;
}
.tool-pallet li.upload_tabs a .label{
	margin-top: -7px;
}
.tool-pallet li.write-tool a .label{
	margin-top: -4px;
}
.tool-pallet li.cart_tab a .label{
	margin-top: -7px;
}
.tool-pallet li a img {
	display: inline-block;
}
.tool-pallet li a .label {
	display: block;
}
.tool-pallet li .effect {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 1px;
	left: 0;
}
 .tool-pallet li.active {
	background: linear-gradient(to bottom, #2b2b2b 0%, #2b2b2b 70%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(70%, #2b2b2b), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
}
.tool-pallet li.active:after {
	opacity: 1;
	fliter: alpha(opacity=100);
	transition: 0.5s;
}
.effect {
	background: linear-gradient(to right, #4d4d4d 0%, #636363 40%, #636363 80%, #4d4d4d 100%);
	/* W3C 32 to 73 */
	background: -webkit-linear-gradient(to right, #4d4d4d 0%, #636363 40%, #636363 80%, #4d4d4d 100%);
	/* W3C 32 to 73 */
}
.model-container {
	position: absolute;
	left: 11%;
	width: 89%;
	top: 0;
	height: 100%;
}
.model-container .model-tab {
	padding: 0 25px;
	top: 0;
	left: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
}
.model-container .check-on-product {
	float: right;
}
.model-container .check-on-product .blank-div {
	height: 260px;
}
.model-container .check-on-product .btn {
	display: block;
	max-width: 110px;
	font-size: 14.6px;
	border-radius: 10px;
}
.model-container .check-on-product .btn.buy {
	color: #6bbb13;
}

.model-container .display-banner {
	float: left;
	width: 85%;
}
.social-share {
	font-size: 14px;
	max-width: 228px;
}
.social-share span {
	display: block;
	margin: 20px 0 4px;
	text-align: left;
	color: #bababa;
	text-transform: capitalize;
}
.social-share li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 2px;
}
.social-share li a {
	color: #ffffff;
	font-size: 18px;
	display: block;
	background: #bababa;
	background: linear-gradient(to bottom, #bababa 0%, #9c9c9c 100%);
	/* W3C */
	background: -webkit-linear-gradient(to bottom, #bababa 0%, #9c9c9c 100%);
	/* W3C */
	line-height: 1.8;
	border-radius: 100%;
}

.value-option {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	top: -5px;
	cursor: pointer;
}
.footer-toolbar ul {
	display: block;
	width: 100%;
}
.footer-toolbar ul:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.footer-toolbar .tool-wrap {
	padding: 16px 26px 0px;
	border-left: 1.5px solid rgba(75, 75, 75, 0.3);
	min-height: 146px;
}
.footer-toolbar li {
	font-size: 13px;
	height: 146px;
	color: color9;
	text-transform: capitalize;
	display: inline-block;
	float: left;
	border-left: 1px solid #121212;
	border-right: 1.5px solid rgba(75, 75, 75, 0.3);
	position:relative;
}
.footer-toolbar li:first-child {
	border-left: none;
}
.footer-toolbar li:first-child .tool-wrap {
	border-left: none;
}
.footer-toolbar .main-tool {
	display: block;
}
.footer-toolbar .tool-img .increase {
	margin-left: 45px;
}
.footer-toolbar .tool-img .decrease {
	margin-right: 45px;
	
}
.footer-toolbar .scale-range .decrease {
	right: 8px;
}
.footer-toolbar .panel-title {
	margin-bottom: 5px;
	display: block;
}
.footer-toolbar .tranparency .increase, .footer-toolbar .tranparency .decrease {
	margin: 0 1px;
	font-weight: normal;
	color: #bababa;
	top: -14px;
	position: relative;
}

.footer-toolbar .rotate input {
	max-width: 58px;
	display: block;
	color: #000000;
	border: 1px solid #636363;
	border-top: 1px solid #242424;
	border-bottom: 1px solid #949494;
	background: #6e6e6e;
	text-align: center;
	line-height: 1.4;
	margin: 10px auto 0;
	width: 100%;
}
.footer-toolbar .rotate .panel-title {
	margin-bottom: 10px;
}
.footer-toolbar .undo .main-tool {
	margin-top: 25px;
}
.footer-toolbar .background .main-tool {
	margin-top: 10px;
}
.footer-toolbar .layer {
	padding: 16px 26px 0;
}
.footer-toolbar .layer .layer-order {
	display: inline-block;
}
.footer-toolbar .layer .layer-order svg {
	width: 38px;
	height: 36px;
}
.footer-toolbar .layer .layer-order svg path, .footer-toolbar .layer .layer-order svg polygon {
	fill: #9c9c9c;
	transition: all 0.2s;
}

.footer-toolbar .layer .main-tool {
	margin-top: 25px;
}
.footer-toolbar .layer .layer-order.two {
	position: relative;
	top: 2px;
}
.footer-toolbar .delete {
	padding: 16px 24px 0;
}
.footer-toolbar .delete .main-tool {
	margin-top: 20px;
	cursor: pointer;
	width: 37px;
	height: 47px;
	position: relative;
}
.footer-toolbar .share {
	border-right: none;
}
.footer-toolbar .share .tool-wrap{
	padding: 16px 11px 0 25px;
}
.footer-toolbar .share .social-share {
	display: table;
	height: 88px;
	width: 100%;
}
.footer-toolbar .share .social-share ul {
	display: table-cell;
	vertical-align: middle;
}
.footer-toolbar .share .social-share li {
	width:33px;
	height:32px;
	margin: 0 4px;
}
.footer-toolbar .share .social-share li a {
	color: #2b2b2b;
	font-size: 18px;
	line-height: 1.8;
}
.lock-img {
	width: 12px;
	height: 15px;
	display: inline-block;
	margin-left: 10px;
}
.lock-img svg path {
	fill: #9c9c9c;
}
.main-tool {
	position: relative;
}
.main-tool .circle {
	position: absolute;
	left: 60px;
	top: 0px;
	width: 17px;
	height: 17px;
	border-radius: 100px;
	background-color: #9c9c9c;
	cursor: pointer;
}
.undo-redo .undo, .undo-redo .redo {
	display: inline-block;
}
.undo-redo .undo svg, .undo-redo .redo svg {
	width: 30px;
	height: 30px;
}
.undo-redo .undo path, .undo-redo .redo path {
	fill: #9c9c9c;
	transition: all 0.2s;
}

.undo-redo {
	margin-top:30px;
}
.rotate-svg svg {
	width: 80px;
	height: 45px;
}
.nobe-svg {
	display: block;
	margin-top: -35px;
}
.nobe-svg svg {
	width: 29px;
	height: 24px;
}
.model-tab .heading {
	padding: 25px 0 0;
}
.model-tab h3 {
	color: #0464b0;
	display: inline-block;
	margin-bottom: 17px;
	padding: 0 27px 30px 0;
}
.model-tab .btn.cancel {
	float: right;
	left: auto;
	/*right: -10px;*/
}
.browse-options ul {
	display: block;
	max-width: 513px;
	margin: 0 auto;
}
.browse-options li {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(20%, #f2f2f2), color-stop(100%, #ebebeb));

	background: linear-gradient(to bottom, #e6e6e6 0%, #f2f2f2 20%, #ebebeb 100%);
	background: -webkit-linear-gradient(to bottom, #e6e6e6 0%, #f2f2f2 20%, #ebebeb 100%);
	border: 1px solid #d1d1d1;
	padding: 17px;
	color: #757575;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	font-size: 15px;
	margin-bottom: 18px;
	transition: border-color 0.5s, color 0.4s, box-shadow 0.4s;
	position:relative;
	display: table;
	height: 86px;
	width:100%;
}
.panel-wrapper .browse-options li{
	height: 66px;
}
.panel-wrapper .browse-options .main-text{
	padding-left: 0;
}

.browse-options li:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.browse-options li .svg-wrap {
	position: absolute;
margin-top: 8px;
left: 15px;
top: 50%;
margin-top: -15px;
}
.browse-options li h4, .browse-options li h5 {
	color: #3d3d3d;
	font-size: 28px;
	margin-bottom: 0;
}


.browse-options .main-text {
	float: left;
	text-align: left;
}
.browse-options .btn.cancel {
	margin-right: 5%;
}
.image-library li {
	float: left;
	margin: 0 1% 10px;
	cursor: pointer;
}
.image-library li img {
	display: block;
	border: 2px solid transparent;
	transition: box-shadow 0.5s, border 0.2s;
	width: 144px;
	height: 144px;
}
.image-library li .caption {
	color: #545454;
	font-size: 12px;
}

.overlay {
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	top: 0;
	left: 0;
	z-index: 1;
}
.model-popup {
	position: absolute;
	top: 42%;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: none;
	z-index: 9999;
}
.model-popup .popup-wrap {
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #dedede;
}
.model-popup header {
	padding: 15px;
	background: linear-gradient(to bottom, #e6e6e6 0%, #fafafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #fafafa));
	/* Chrome,Safari4+ */
	display: block;
	font-size: 23px;
	border-bottom: 1px solid #dedede;
}
.model-popup header:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.model-popup header h4 {
	color: #60b306;
	display: inline-block;
	margin-bottom: 0;
}
.model-popup.url-box header h4{
	color:#0464b0;
}
.model-popup header .popup-close, .model-popup header .popup-close-help {
	float: right;
	height: 22px;
	width: 22px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	background: linear-gradient(to bottom, #fb2b2b 0%, #f22222 23%, #e31716 46%, #d80e0e 69%, #d10909 77%, #d0080a 85%, #d40107 92%, #d7392d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb2b2b), color-stop(23%, #f22222), color-stop(46%, #e31716), color-stop(69%, #d80e0e), color-stop(77%, #d10909), color-stop(85%, #d0080a), color-stop(92%, #d40107), color-stop(100%, #d7392d));
	/* Chrome,Safari4+ */
	padding-top: 4px;
}
.image-preview.model-popup {
	max-width: 604px;
}
.preview {
	max-width: 522px;
	height: 296px;
	margin-bottom: 27px;
}
.preview img {
	display: block;
	margin: 0 auto;
	height: 100%;
	width: auto;
}
.add {

	display: inline-block;
	right: 0;
	margin: 0 auto;
}
.preview-wrap {
	padding: 20px 40px;
	display: block;
	text-align: center;
}
.preview-wrap:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.effect-panel {
	max-width: 800px;
}
.apply-effect-panel {
	padding: 10px 20px 6px;
}
.effect-preview {
	float: left;
	width: 50%;
	text-align: center;
	margin-right: 5%;
}
.panel-wrapper {
	float: right;
	width: 45%;
}
.panel-wrapper .effect-tool {
	background: linear-gradient(to bottom, #ebebeb 0%, #f2f2f2 15%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(22%, #f2f2f2), color-stop(100%, #f2f2f2));
	/* Chrome,Safari4+ */
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}
.panel-wrapper .effect-tool-list {
	display: block;
}
.panel-wrapper .effect-tool-list:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.panel-wrapper .effect-tool-list a {
	color: #4d4d4d;
	font-size: 18px;
	float: left;
	width: 50%;
	line-height: 2.2;
	text-align: center;
	background: linear-gradient(to bottom, #dedede 0%, #d8d8d8 25%, #bababa 65%, #b5b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(25%, #d8d8d8), color-stop(65%, #bababa), color-stop(100%, #b5b5b5));
	/* Chrome,Safari4+ */
}
.panel-wrapper .effect-tool-list a.active {
	background: none;
	color: #707070;
	text-shadow: 1px 1px 1px #ffffff;
}
.panel-wrapper .effect-tool-list .effect-btn {
	border-radius: 5px 0 0 0;
}
.panel-wrapper .effect-tool-list .adjustment-btn {
	border-radius: 0 5px 0 0;
}
.effect-tab-wrapper {
	padding: 20px 20px 8px;
}
.effect-tab-wrapper li {
	padding: 11px;
	margin-bottom: 8px;
}
.effect-tab-wrapper li h5 {
	font-size: 18px;
	line-height: 1;
}

.effect-tab-wrapper .effect-icon {
	width: 39px;
	height: 39px;
	background: #bababa;
	position: absolute;
	display:block;
	text-align: center;
	padding-top: 8px;
	margin-right: 20px;
	top: 13px;
left: 8px;
}
.effect-tab-wrapper .effect-icon .fa-user {
	color: #ebebeb;
	font-size: 18px;
}
.effect-tab-wrapper .effect-icon small {
	position: absolute;
	right: -10px;
	bottom: -5px;
	height: 20px;
	width: 20px;
	font-size: 20px;
	line-height: 1;
}
.sepia-icon, .hue-icon {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	border: 2px solid #4d4d4d;
	background: #fcf5a3;
}
.hue-icon {
	background: none;
}
.hue-icon img {
	display: block;
}
.meter-slider {
	display: block;
	margin-top: 5px;
}
.meter-slider:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.meter-slider .value-option {
	float: left;
	width: 5%;
}
.meter-slider .meter {
	width: 80%;
	margin: 0 5%;
	display: inline-block;
	height: 5px;
	background: #787878;
	border-radius: 3px;
	position: relative;
	top: 5px;
	float: left;
}
.meter-slider .meter .meter-bar {
	position: absolute;
	width: 100%;
	left: 20%;
	top: -7px;
	transition: linear 0.4s;
}

.btn-panel {
	text-align: right;
	margin-top: 10px;
}
.btn-panel .btn {
	display: inline-block;
	margin-left: 20px;
}
.tab-panel-wrapper {
	position: relative;
	min-height: 330px;
}
.tab-panel-wrapper .effect-tab {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.tab-panel-wrapper .effect-tab .effect-tab-wrapper {
	height: 327px;
}
.disable-tab {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(200, 200, 200);
	z-index: 9999;
	opacity: 0.6;
}
.browse-options .main-text.slider-wrap {
	width: 74%;
}
.device-section {
	float: left;
	position: relative;
	height: 562px;
	width: 69%;
}
.device-section .canvas-section {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	height: 100%;
}
.device-section .canvas-section img {
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	visibility: hidden;
}
.device-view {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 23%;
	background: #f2f2f2;
	/*padding: 15px 0px;*/
}
.select-view{
	height:100%;
}
.device-view h5 {
	color: #242424;
	margin:0 0 20px;
	padding-top:20px;
}
.select-device-view {
	padding-bottom: 20px;
	position: relative;
	margin-bottom: 10px;
}
.select-device-view .effect {
	position: absolute;
	bottom: 1px;
	width: 100%;
	left: 0;
	height: 1px;
	background: linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #dedede 32%, #dedede 90%, rgba(255, 255, 255, 0) 100%);
	/* W3C 32 to 73 */
	background: -webkit-linear-gradient(to right, rgba(222, 222, 222, 0) 0%, #dedede 32%, #dedede 90%, rgba(255, 255, 255, 0) 100%);
	/* W3C 32 to 73 */
}
.select-device-view figure {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	background: #ffffff;
	margin-left: 10px;
	transition: 0.3s;
}
.select-device-view figure:first-child {
	margin-left: 0;
}
.select-device-view figure figcaption {
	background: #e6e6e6;
	border-radius: 5px 5px 0 0;
	color: #242424;
	font-size: 12px;
	padding: 5px 0;
}

.select-device-view .img-section {
	padding: 6px 15px;
}
.select-device-view .img-section img {
	/* width: 43px;
	 height: 79px; */
	display: block;
}
.apply-effect {
	overflow: hidden;
	position: absolute;
bottom: 10px;
left: 15px;
}
.apply-effect h5 {
	font-size: 18px;
	color: #0866b1;
	text-align: left;
	margin-left: 14px;
	margin-bottom: 10px;
	margin-top: 0;
}
.apply-effect h5 .effect-svg {
	display: inline-block;
	position: relative;
	top: 10px;
	margin: 0 5px;
}
.uploaded-images h5 {
	margin-bottom: 6px;
	padding-top:5px;
}
.uploaded-images li {
	display: inline-block;
	margin-bottom: 20px;
	width: 47%;
}
.uploaded-images li .figure-wrap {
	display: inline-block;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 1px 1px #dedede;
	border-radius: 2px;
	position: relative;
}
.uploaded-images li img {
	width:74px;
	height: 68px;
	display: block;
	cursor: pointer;
	border-radius: 2px;
}
.uploaded-images li .delete-btn {
	position: absolute;
	right: -8px;
	top: -9px;
	border-radius: 3;
	display:block;
	transform:scale(0);
	-webkit-transform:scale(0);
	-ms-transform:scale(0);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	z-index:999;
}

.help-video {
	max-width: 788px;
}
.video-gallery {
	max-width: 549px;
	margin: 30px auto 7px;
	position:relative;
}
.video-items {
	width: 128px;
	height: auto;
}
.video-caption {
	display: block;
	text-align: center;
	font-size: 13px;
	color: #0866b1;
}
#bx-pager {
	text-align: center;
	margin-top: 10px;
}
#bx-pager a {
	display: inline-block;
	margin: 0 2px;
}
.bx-controls-direction {
	position: relative;
}
.bx-controls-direction a ,.flex-prev,.flex-next{
	width: 0;
	height: 0;
	overflow: hidden;
	border-color: transparent #9c9c9c;
	border-width: 10px 14px 10px 0;
	border-style: solid;
	position: absolute;
	top: 35px;
	transition: 0.3s;
}

.bx-controls-direction .bx-prev,.flex-prev {
	left: -5%;
}
.bx-controls-direction .bx-next,.flex-next {
	right: -5%;
	border-width: 10px 0px 10px 14px;
}
.feedback {
	font-size: 13px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.preview-panel {
	position: relative;
	padding-top: 30px;
}
#preview_panel .preview-panel {
	position:static;
}
.new-btn {
	font-size: 16px;
	font-weight: bold;
	min-width: 122px;
	line-height: 2;
	display: inline-block;
	border-radius: 20px;
	
}

.buy-now .new-btn{
	padding-right:35px;
}
.safary .buy-now .new-btn{
	padding-right:25px;
	border-radius:20px;
}
.new-btn .fa-long-arrow-left {
	color: #d6d6d6;
	font-size: 35px;
	height: 29px;
	overflow: hidden;
	width: 21px;
	top: 0;
	position: relative;
}
.preview-section {
	display: inline-block;
}
.buy-now .new-btn {
	position: relative;
	padding-left: 20px;
	color: #65b908;
	max-width: 160px;
	line-height: 1.9;
	overflow:hidden;
}
#prev_back .back-text{
	position: relative;
    top: -7px;
}
#prev_back .new-btn {
	line-height: 1.2;
}



.buy-now .buy-arrow {
	background: #65b908;
	float: right;
	padding: 0 11px;
	margin-left: 10px;
	border-radius: 0 20px 20px 0px;
	border: 1px solid transparent;
	position:absolute;
	right:-1px;
	top:0;
}
.buy-now .buy-arrow .fa-caret-right {
	color: #bae58b;
}
.buy-now .price {
	display: block;
	color: #0464b0;
	font-size:20px;
	font-weight: bold;
	margin-top: 10px;
}
.nav-btn {
	position: absolute;
}
.nav-btn.back {
	left: 2%;
	bottom: 50px;
}
.nav-btn.buy-now {
	right: 2%;
	bottom: 22px;
}
.add-text {
	display: block;
}
.add-text:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.add-text h5 {
	margin-top:0px;
	padding-top:0px;
	margin-bottom: 10px;
	display: block;
}
.add-text h5:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.add-text h5 .delete-btn {
	float: right;
	border-radius: 100%;
}
.add-text textarea {
	width: 100%;
	height: 78px;
	padding: 7px;
	font-size: 14px;
	color: #bababa;
	font-weight: bold;
	cursor:text;
}
.text-tool {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
.text-tool .tool-btn {
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 1.6;
	color: #ffffff;
	background: #999999;
	font-size: 12px;
	text-transform: uppercase;
	cursor:pointer;
}
.text-tool .tool-btn.bold {
	font-weight: bold;
}
.text-tool .tool-btn.active {
	background: #0b6bb5;
}
.text-tool .tool-btn.italic {
	font-style: italic;
}
.device-view.add-text-pallet {
	padding: 15px;
}
.custom-select {
	position: relative;
	margin-bottom: 15px;
	text-align: left;
}
.custom-select .select-box {
	display: block;
	border: 1px solid #e6e6e6;
	padding: 10px 24px 10px 10px;
	background: #ffffff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 2px;
	position: realtive;
	z-index: 500;
	line-height: 1.3;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.custom-select .select-box:after {
	position: absolute;
	width: 0;
	height: 0;
	content: "";
	border-color: #c7c7c7 transparent;
	border-style: solid;
	border-width: 6px 6px 0px 6px;
	right: 16px;
	top: 19px;
}
.custom-select .color:after {
	top: 20px;
}
.custom-select .dropdown {
	border: 1px solid #e6e6e6;
	border-top: none;
	background: #ffffff;
	color: #999999;
	display: none;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 38px;
	width: 100%;
}
.custom-select .dropdown li {
	padding: 5px 10px;
}
.custom-select .font {
	color: #999999;
	font: 14px;
	position: relative;
}
.custom-select .color {
	display: block;
}
.custom-select .color:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.custom-select .color:after {
	visibility: visible;
}
.custom-select .color-pallet {
	float: left;
	width: 22px;
	height: 20px;
	background: #000000;
	border-radius: 3px;
	margin-right: 10px;
	color: #5e5e5e;
	font-size: 13px;
	font-weight: normal;
}
.device-pallet li {
	display: inline-block;
	margin: 18px 0;
	transition: all 0.3s;
	cursor: pointer;
}
.device-pallet li figure {
	padding: 10px 25px;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 10px;
}
.device-pallet li figure figcaption {
	font-size: 16px;
}
.device-pallet li .product-wrap {
	display: table;
	width: 100%;
	height: 160px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.device-pallet li .product-wrap .product-img-wrap {
	display: table-cell;
	vertical-align: middle;
}

.model-tab .slider {
	bottom: 35px;
}
.brand li {
	margin: 5px 0 10px;
}
.brand li .product-wrap {
	height: 162px;
	width: 127px;
	opacity: 1;
}
.brand li figure {
	padding: 0 10px;
	margin: 0 10px;
}

.model-tab .slider {
	bottom: 20px;
}
.model-tab .device-pallet .heading {
	padding-bottom: 0;
	padding-top: 35px;
}
.model-tab .device-pallet .heading h3 {
	background: url(../images/arrow-2.png) right 19px no-repeat;
	padding-bottom: 0;
	margin-bottom: 0px;
	padding: 0 42px 10px 0;
}
.model li figure {
	padding: 2px 10px;
}
.model li .product-wrap {
	height: 133px;
}

.device-accessories .product-wrap {
	height: 269px;
	width: 217px;
}
.device-accessories .product-caption {
	font-size: 18px;
	display: block;
	line-height: 1.4;
}
.device-accessories .price {
	font-size: 12px;
	text-transform: uppercase;
}
.device-accessories .price span {
	color: #5aa507;
	font-weight: bold;
}
.device-accessories li {
	margin: 20px 0 0;
}
.device-accessories li margin-top:0 figure {
	padding: 0 25px 5px;
}
.device-accessories li .product-wrap {
	opacity: 1;
}
.device-accessories li .btn {
	padding: 5px 22px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.device-accessories .slider {
	bottom: 20px;
}
.alert-box {
	max-width: 350px;
}
.alert-box .btn-panel {
	text-align: center;
	margin: 10px 0;
}
.alert-message {
	padding: 20px 20px 0;
}
.alert-message p {
	margin-bottom: 20px;
}
.svg-wrap {
	display: inline-block;
}
.info {
	top: 3px;
	position: relative;
	margin-left: 3px;
}
.info .svg {
	height: 20px;
	width: 20px;
}
.info .svg path {
	fill: #107dd1;
}
.tool-pallet li .svg path {
	fill: #9c9c9c;
	transition: all 0.4s;
}

.mobile svg {
	width: 35px;
	height: 39px;
}
.photo svg {
	width: 38px;
	height: 32px;
}
.eye svg {
	width: 44px;
	height: 28px;
}
.text svg {
	width: 38px;
	height: 28px;
}
.upload svg {
	width: 40px;
	height: 37px;
}
.cart svg {
	width: 37px;
	height: 35px;
}
.sharpen svg {
	width: 22px;
	height: 24px;
}

.arrow-right {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(20%, #d1d1d1), color-stop(100%, #cccccc));
	background: linear-gradient(to bottom, #e4e4e4 0%, #f1f1f1 3%, #e5e5e5 13%, #dfdfdf 17%, #dddddd 20%, #d1d1d1 30%, #cacaca 33%, #cacaca 37%, #bebebe 47%, #aeaeae 50%, #adadad 53%, #b7b7b7 67%, #c7c7c7 80%, #cccccc 87%, #d3d3d3 90%, #d5d5d5 93%, #dddddd 97%, #dfdfdf 100%);
	/* W3C */
	background: -webkit-linear-gradient(to bottom, #e4e4e4 0%, #f1f1f1 3%, #e5e5e5 13%, #dfdfdf 17%, #dddddd 20%, #d1d1d1 30%, #cacaca 33%, #cacaca 37%, #bebebe 47%, #aeaeae 50%, #adadad 53%, #b7b7b7 67%, #c7c7c7 80%, #cccccc 87%, #d3d3d3 90%, #d5d5d5 93%, #dddddd 97%, #dfdfdf 100%);
	/* W3C */
	border-radius: 2px;
	border: 1px solid #bababa;
	padding: 3px 10px;
}
.arrow-right .svg {
	width: 22px;
	height: 16px;
	position:relative;
	top: 2px;
}
.arrow-right .svg path {
	fill: #696969;
}
.apply-effect .svg {
	height: 35px;
	width: 35px;
}
.meter-bar svg {
	width: 20px;
	height: 20px;
}
.meter-bar svg path.bar-bg {
	fill: #dedede;
}
.palette {
	width: 35px;
	height: 35px;
}
.palette path {
	fill: #b5b5b5;
}
.ie .product-section #header, .ie .product-section #footer {
	background: #2b2b2b;
	display: inline-block;
	width: 100%;
}
.model-tab .btn, .model-popup .btn {
	position: relative;
	top: 0;
	left: 0;
	border-radius: 10px;
}
.model-tab .btn:focus, .model-popup .btn:focus {
	top: 3px;
}
.no-heading {
	padding-top: 80px;
	display: table;
}
.no-heading .product-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.help-video.model-popup {
	display: block;
	visibility: hidden;
}
.help-video.model-popup, .image-preview.model-popup {
	top: 48px;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
.image-preview.model-popup {
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-video > img {
	height: 227px;
	display: block;
	margin: 0 auto;
}
.use-btn {
	width: 16%;
}
.view-sm {
	display: none !important;
}
.only-lg-view {
	display: block;
}
.use-steps-section {
	width: 100.1%;
	position: absolute;
	z-index: 100;
	background: linear-gradient(to bottom, #4d4d4d 0%, #0d0d0d 100%);
	/* W3C */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(50%, #4d4d4d), color-stop(91%, #0d0d0d), color-stop(100%, #0d0d0d));
	/* Chrome,Safari4+ */
	top: -37px;
	border-radius: 5px;
	left: 0;
}
.use-steps-section .i-image {
	background: none;
}
.use-steps-section .step-pallet {
	padding: 16px;
}
.use-steps-section .step-pallet ul {
	display: block;
}
.use-steps-section .step-pallet ul:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.use-steps-section .step-pallet li {
	color: #d9d9d9;
	text-shadow: 1px 1px 1px #000000;
	padding: 0 16px;
	float: left;
	font-weight: bold;
	position: relative;
	text-align: left;
	width: 25%;
}
.use-steps-section .step-pallet li .step {
	margin: 0 7px;
}
.use-steps-section .step-pallet li .use-effect {
	right: 0;
	height: 100%;
	width: 1px;
	top: 0;
	position: absolute;
}
.use-steps-section .step-pallet li .step-block .step-no, .use-steps-section .step-pallet li .step-block a {
	display: block;
}
.use-steps-section .step-pallet li .step-block .step-no {
	font-size: 20px;
	margin: 5px 0;
}
.use-steps-section .step-pallet li .step-block a {
	font-weight: normal;
	font-size: 13px;
	line-height: 1.1;
	margin-bottom: 5px;
}
.use-steps-section .step-pallet li .svg-wrap {
	float: right;
}
.use-steps-section .step-pallet .title-text {
	font-size: 24px;
	display: block;
	margin-top: 5px;
}
.i-image {
	color: #d9d9d9;
	width: auto;
}
.border-layer {
	height: 3px;
	display: block;
	background: #000000;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
	margin-bottom: 10px;
}
.step-pallet .mobile svg {
	width: 34px;
	height: 48px;
}
.step-pallet .mobile svg path {
	fill: #ffffff;
}
.step-pallet .photo svg {
	width: 43px;
	height: 36px;
}
.step-pallet .photo svg path {
	fill: #ffffff;
}
.dropdown.scroll {
	height: 109px;
}
.devices ul {
	padding-bottom: 50px;
}
#uploadIMg {
	height: 320px;
}
#uploadIMg li {
	margin-bottom: 0;
	padding-top: 20px;
}
.image-library ul {
	height: 359px;
}
.scale-section .slider-range {
	background: none;
	border: medium none;
	display: inline-block;
	max-width: 100px;
	width: 100%;
}
.scale-section .slider-range .ui-slider-range.ui-widget-header, .scale-section .slider-range .ui-slider-range.ui-widget-header + span {
	display: none;
}
.scale-range .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all .ui-slider-handle {
	background-color: #9c9c9c;
	border-radius: 100px;
	cursor: pointer;
	height: 17px;
	left: 60px;
	position: absolute;
	top: 0;
	width: 17px;
	border: none;
}
.transparency-range .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all .ui-slider-handle {
	border: none;
	background: none;
	border-style: solid;
	border-color: #9c9c9c transparent;
	border-width: 0px 9px 9px;
	height: 0;
	width: 0;
	position: absolute;
	top: 14px;
}

#uploader #MyCom {
	font-size: 28px;
	color: #3d3d3d;
	display: block;
	text-align: left;
}
#uploader #UpMyUpl {
	font-size:15px;
	color: #757575;
}
#url_image {
	background: none;
border: 1px solid #dedede;
width: 100%;
padding: 10px;
border-radius: 8px;
}
.url-box{
	max-width: 387px;
	width:100%;
}
.url-box .popup-wrap{
	height: 220px;
}
.url-box .url-add{position: absolute;
right: 21px;
left: auto;
bottom: 10px;
top: auto !important;
}
.model-popup.url-box{
	top: 47%;
	transform: translateY(-50%) translateX(58px);
-webkit-transform: translateY(-50%) translateX(58px);
-ms-transform: translateY(-50%) translateX(58px);
}
.add-text #addText.btn,.add-text #updateText.btn {
	display: inline-block;
	font-size: 12px;
	margin-bottom: 20px;
	padding: 5px 10px;
}

.bg-pallet {
	display: inline-block;
}
#previewPanel .preview-back, #previewPanel .preview-front {
	display: inline-block;
	max-width:36%;
	vertical-align: middle;
}
.nav-btn.back, .nav-btn.buy-now {
	float: left;
	position: static;
	margin-top: 20px;
}
.nav-btn.buy-now {
	float: right;
}
#previewPanel .preview-name{
	display:block !important;
	margin-top:15px;
	text-align: center;
    width: 100%;
}
.browse-options #uploader_browse, .browse-options .main-text {
	width:90%;
	text-align: left;
	padding-left:30px;
	display: table-cell;
	float:none;
	vertical-align:middle;
}
.safari .browse-options #uploader_browse, .safari .browse-options .main-text {
	padding-left:60px;
}
.effect-tab .browse-options #uploader_browse, .effect-tab .browse-options .main-text {
	width: 60%;
}
.safari .effect-tab .browse-options #uploader_browse, .safari .effect-tab .browse-options .main-text {
	width:100%;
}

@media all and (min-width: 768px) {
	.pre-tool-panel {
		height: 586px;
	}
	.nav-btn-panel {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 160px;
		height:100%;
	}
	.nav-btn.back, .nav-btn.buy-now{
		position: absolute
	}
	.nav-btn.back{
		top:0;
		right:0;
	}
	
	 .nav-btn.buy-now {
		float: right;
		position:absolute;
		bottom:32px;
		right:15px;
	}
	.preview-section {
		padding-right: 110px;
	}

}

.rotateBox {
	margin: 0 auto;
	position: relative;
	width: 90px;
}

.rotation {
	background: url("../images/angle.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 83px;
	width: 83px;
}
.rotater {
	

	background-color: #FFF;
	border: medium none;
	border-radius: 100px;
	cursor: pointer;
	height: 17px;
	left: 74.5px;
	position: absolute;
	top: 33px;
	width: 17px;
}

/*=====Loader CSS====*/
.spinner {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.container1 > div, .container2 > div, .container3 > div {
	width: 6px;
	height: 6px;
	background-color: #0b6bb5;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .spinner-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container2 {
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.container3 {
	-webkit-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.circle1 {
	top: 0;
	left: 0;
}
.circle2 {
	top: 0;
	right: 0;
}
.circle3 {
	right: 0;
	bottom: 0;
}
.circle4 {
	left: 0;
	bottom: 0;
}

.container2 .circle1 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.container3 .circle1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.container1 .circle2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.container2 .circle2 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

.container3 .circle2 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}

.container1 .circle3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.container2 .circle3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.container3 .circle3 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.container1 .circle4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

.container2 .circle4 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}

.container3 .circle4 {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
0%, 80%, 100% { -webkit-transform: scale(0.0) }
40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
0%, 80%, 100% {
transform: scale(0.0);
-webkit-transform: scale(0.0);
} 40% {
transform: scale(1.0);
-webkit-transform: scale(1.0);
}
}

/*=====Loader CSS====*/
.trash {
	transition: opacity 200ms;
width: 100%;
height: 100%;
vertical-align: middle;
cursor: pointer;
position: absolute;
left: 0;
top: 0;
display:block;
}
.trash > .lid {
	transform-origin: 94% 100%;
transition: transform 150ms;
height: 18px;
width: 30px;
-webkit-transform-origin: 94% 100%;
}
.trash > .can {
background-position: 0 -18px !important;
width: 30px;
height: 42px;
margin: 19px 0 0;
padding: 0 !important;
}
.trash > .can, .trash > .lid {
	background: url(../images/recycle-bin.png) 0 0 no-repeat;
position: absolute;
right: 8px;
top: 1px;
-webkit-transform: rotate(0deg);
-webkit-transition: -webkit-transform 250ms;

}

.trash > span {
	display: inline-block
	
}
 
.recycle{
	position:absolute;
	top: -5px;
	left: 0px;
	background: url(../images/recycle.png) 0 0 no-repeat;
	width:12px;
	height:10px;
	opacity:0;
	
	
	
}
.trash:active .recycle{
	display:block;
	-webkit-animation: recycle 0.2s 1 ease-in-out;
	animation: recycle 0.2s 1 ease-in-out;
}

@-webkit-keyframes recycle {
0%{ left:0px; top:-5px; }
50%{ opacity:0.5; left:13px; top:19px;}
100% { left:13px; top:19px;}
}

@keyframes recycle {
0%{ left:0px; top:-5px; }
50%{ opacity:0.5; left:13px; top:19px;}
100% { left:13px; top:19px;}
}
body .main-contentarea .page-title h1, body .main-contentarea *  {
	 font-family: "Open Sans",sans-serif;
}

body .main-contentarea .page-title a.upload-photo-btn{
	font-size:14px;
	padding: 3px 15px;
}
.main-contentarea .page-title{
	   margin-bottom: 15px;
}
.main-contentarea a.upload-photo-btn{
	font-size: 15px;
	padding: 8px 21px;
}
.main-contentarea .page-title h1{
	color: #0464b0;
}
.tooloptions{
	  padding:30px 0 6px;
	  display:block;
}
.tool-button {
    background:#212121;
    left: 0;
    position: absolute;
    text-align: center;
    top: -54px;
    width: 100%;
    height:54px;
    display:none;
}
.tooloptions:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:2px;
	margin:0 auto;
	width:18px;
	height:28px;
	background:url(../images/arrow-up-down.png) 0 1px no-repeat;
	
}
.up-tools .tooloptions:after{
	background:url(../images/arrow-up-down.png) 0 -28px no-repeat;
	 top:6px;
}
.closeblock.delete-btn{
	display:none;
}
.lock-tool{
	position:absolute;
	top:7px;
	right:0;
	cursor:pointer;
}
.lock-tool.lock{
	overflow: hidden;
height: 6px;
display: block;
transform: rotate(0deg);
transform-origin: 76% 100%;
transition: transform 250ms;
-webkit-transform: rotate(0deg);
-webkit-transform-origin: 76% 100%;
-webkit-transition: transform 250ms;
-ms-transform: rotate(0deg);
-ms-transform-origin: 76% 100%;
-ms-transition: transform 250ms;
top:0;
}
.unlock .lock-tool.lock{
	transform: rotate(44deg);
	-webkit-transform: rotate(44deg);
	-ms-transform: rotate(44deg);
}
.lock-tool.un-lock{
	display: block;
height: 12px;
overflow: hidden;
}
.un-lock.lock-tool svg{
	position: relative;
top: -6px;
}
.big-images{
position: absolute;
top: 0;
left: 0;
width: 40%;
height: 351px;
transform:scale(0);
transition: all 0.2s ease 0s;
-webkit-transform:scale(0);
-webkit-transition: all 0.2s ease 0s;
-ms-transform:scale(0);
-ms-transition: all 0.2s ease 0s;
z-index:999;
border-radius:5px;
}
.big-images img{
position: absolute;
top: 0;
left: 0;
width:100%;
height:100%;
border:2px solid #ddd;
border-radius:5px;
}



.filter{
 float: left;
    width: 41%;
}
.filter.sub-categoris{
	left: auto;
    right: 126px;
   float:right;
    width: 44%;
     margin-right: 49px;
}
.filter.categoris{
	 margin-left: 12px;
}

.filter span.current-select{
	display:block;
	line-height:1.5;
	cursor:pointer;
	 line-height:2;
	  font-size:15px;
	   float: left;
	    margin-top: 6px;
}
.image-library ul.dropdown{
	height:80px;
}
.categoris-box{
	display:inline-block;
	width:100%;
	 margin-bottom: 12px;
	 
}
.filter .custom-select{
	float:right;
	width:212px;
}
.model-tab.library-preview{
	margin-bottom: 0;
}
.disable-tool{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
	display:none;
	
	
}
.disable-footer .disable-tool{
	display:block;
}
.disable-footer .footer-toolbar ul li{
	opacity:0.2;
}
.disable-footer .background-section .disable-tool,.disable-footer .share .disable-tool,.disable-footer .undo-section .disable-tool{
	display:none;
	
}
.footer-toolbar ul li.background-section,.footer-toolbar ul li.share,.disable-footer .footer-toolbar ul li.share li, .footer-toolbar ul li.undo-section {
opacity:1;	
}

.customNavigation{
	display:none;
}
.add-text #addText.btn{
	width:74px !important;
}

body .colpick{
	 z-index: 999999;
}
body .colpick_field_letter{
	width:20px;
}
.gecko .help-video.model-popup{
	left:0;
}
.overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#ccc;
	opacity:0.3;
}
.help-video .popup-wrap{
	position:relative;
}
#video-wrap{
	position:absolute;
	left:0;
	top:0;
	z-index:-99;
	width: 549px;
	opacity:0;
}
.video-gallery #video-wrap{
	opacity:1;
	width:100%;
	position:static;
}
#carousel{
	position:relative;
	  margin-top: 10px;
}
#carousel li{
	margin-right:4px;
	opacity:0.8;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#carousel .slides li img{
	width:100%;
}

#carousel span{
	display:block;
}
#slider .main-video{
	width:550px;
	height:300px;
	position:relative;
}
.slides>li>.main-video>*{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}


.flex-viewport{
	z-index:9;
}
.flex-direction-nav{
	position:absolute;
	left:0;
	bottom:53px;
	width:100%;
	height:20px;
	
}
.flex-direction-nav a{
	top:0;
}
.ImgZomm-box{
	display:none !important;
}
.no-image{
	  font-size: 12px;
	  background:#0b6bb5;
}
#uploadIMg li{
	position:relative;
}
#uploadIMg li.currentImg:before{
	position:absolute;
	top:50%;
	left:-14px;
	content:"";
	background:url(../images/animate-arrow.png) 0 0 no-repeat;
	width:40px;
	height:17px;
	margin-top:0px;
	animation: 1s ease-in-out 0s 10000 animated;
	-webkit-animation: 1s ease-in-out 0s 10000 animated;
	-o-animation: 1s ease-in-out 0s 10000 animated;
	-ms-animation: 1s ease-in-out 0s 10000 animated;
	z-index:99;
	opacity:0;
	
}
#imageBrowse{
	padding-left:10px;
	padding-right:10px;
}
@-webkit-keyframes animated {
0%{ left:-14px;opacity:1; }
20% { left:-20px;}
40% { left:-14px;}
60% { left:-20px;}
80% { left:-14px; }
100% { left:-14px; opacity:1 }
}
@keyframes animated {
0%{ left:-14px;opacity:1; }
20% { left:-20px;}
40% { left:-14px;}
60% { left:-20px;}
80% { left:-14px; }
100% { left:-14px; opacity:1 }
}

@-webkit-keyframes animated-mobile {
0%{ top:55%;opacity:1; }
20% { top:65%;}
40% { top:55%;}
60% { top:65%;}
80% { top:55%; }
100% { top:55%; opacity:1 }
}
@keyframes animated-mobile {
0%{ top:55%;opacity:1; }
20% { top:65%;}
40% { top:55%;}
60% { top:65%;}
80% { top:55%; }
100% { top:55%; opacity:1 }
}
